@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  background-color: rgba(0, 0, 0, 0.4);
}

.app::before {
  content: "";
  background: url("../../public/weather-background.jpg") no-repeat center
    center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app input {
  padding: 0.7rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

::placeholder {
  color: #f8f8f8;
}

.container {
  height: 500px;
  padding: 0 1rem;
}

.app .bottom {
  margin: 1rem auto;
  background-color: rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 600px) {
  .app .bottom {
    display: grid;
    grid-template-columns: auto auto;
  }

  .app .bottom div {
    padding: 1rem;
  }
}
